{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "@meteorjs/eslint-config-meteor"
  ],
  "globals": {
    "document": true,
    "describe": true,
    "it": true,
    "Package": true
  },
  "rules": {
    "react/prop-types": 0
  }
}
